html {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #2D7053;
    height: 230px;
}

.logo {
    background-color: #FFFFFF;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    display: inline-block; 
    margin: 1.5rem 2rem 1rem;
    
}

.menu {
    list-style: none;
    display: inline-block;
    margin: 1.8rem 0 0;
    vertical-align: top;
}

.menu-items {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.hamburger {
    display: inline-block;
    float: right;
    margin: 2.5rem 2rem 2rem  ;
}

.line {
width: 85px;
height: 13px;
background-color: #FFFFFF;
margin: 16px 0;
border-radius: 5px;
}

.content {
    width: 100%;
}

.btn a {
    background-color: #CB9223;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    padding: 1rem;
}

.header {
    position: relative;
}

.bg-img {
    width: 100%;
    height: 850px;
    background-image: url("../img/1tds.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 35px 20px;
    box-sizing: border-box;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn {
    position: absolute;
    margin-top: -5.5rem;
    left: 37%;
}

.card {
    height: 850px;
    background-color: #FFFFFF;
    padding: 2rem;
}

.foto {
    display: inline-block;
}

.foto img {
    border-radius: 50%;
    width: 10.2rem;
    height: 10.2rem;
}

.info {
    display: inline-block;
    padding: 1.5rem 5rem 5rem;
    vertical-align: top;
}

.name {
    font-size: 1.5rem;
}

.discr {
    font-size: 1rem;
}

.discription p{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.info2 {
    font-size: 1.5rem;
}

.list {
    font-size: 1rem;
}

.btn2 a {
    background-color: #CB9223;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    padding: 1rem;
}
 .btn2 {
    position: absolute;
    left: 37%;
 }

 .footer {
     background-color: #888888;
     height: 170px;
 }

 .logo2 {
     background-color: #FFFFFF;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     display: inline-block;
     margin: 1.5rem 2rem 1rem;
 }

 .address,
 .contacts {
     font-size: .75rem;
     color: #F1F1F1;
     display: inline-block;
     vertical-align: top;
 }

 .address {
    text-align: right;
    margin: 5rem 0 1.5rem 5rem;
}

 .contacts {
    width: 6rem;
    float: right;
    margin: 4rem 1.5rem 1rem 0;
}

.contacts a {
    text-decoration: none;
    color: #F1F1F1;
}



